.navbar-nav .dropdown-menu {
    width: 350px;
}

.auth-form {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.alert-danger {
    margin: 0 !important;
    list-style: none !important;
}