<template>
    <div class="auth-form" >
        <form v-show="!reg" @submit.prevent="login">
            <div class="form-group">
                <label for="">Email</label><span class="text-danger">*</span>
                <input required type="email" class="form-control" v-model="user.email" id="" placeholder="Email">
            </div>

            <div class="form-group">
                <label for="">Password</label><span class="text-danger">*</span>
                <input required type="password" class="form-control" v-model="user.password"  placeholder="Password">
            </div>
            <button type="submit"  class="btn btn-sm btn-success" >Login</button>
            <hr>
            <a @click='reg = true' >Create New Account</a>
        </form>
        
        <form v-show="reg" @submit.prevent="register">

            <div class="form-group">
                <label for="">Name</label><span class="text-danger">*</span>
                <input required type="text" class="form-control" v-model="user.name" id="" placeholder="Name">
            </div>

            <div class="form-group">
                <label for="">Email</label><span class="text-danger">*</span>
                <input required type="email" class="form-control" v-model="user.email" id="" placeholder="Email">
            </div>

            <div class="form-group">
                <label for="">Password</label><span class="text-danger">*</span>
                <input required type="password" class="form-control" v-model="user.password" id="" placeholder="Password">
            </div>

            <div class="form-group">
                <label for="">Confirm Password</label><span class="text-danger">*</span>
                <input required type="password" class="form-control" v-model="user.password_confirmation"  placeholder="Confirm Password">
            </div>

            <button type="submit"  class="btn btn-success" >Register</button>
            <hr>
            <a @click='reg = false' >Already have an account?</a>

        </form>
        <div class="alert alert-danger" v-if="login_error" role="alert">
            Invalid Username or Password!
        </div>
        <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                user:{},
                reg: false,
                login_error: false,
                validationErrors: ''
            }
        },

        methods:{
            login() {
                this.login_error = false;
                this.validationErrors = null
                axios.post('/user_login', this.user)
                .then((response) => {
                    console.log(response.data);
                    var logged_in_user = response.data.data
                    bus.$emit('set-user', logged_in_user)
                })
                .catch((error) => {
                    console.error(error);
                    console.log(error.response.data)
                    this.login_error = true;
                    
                });
            },
            register() {
                this.login_error = false;
                this.validationErrors = null
                axios.post('/user_register', this.user)
                .then((response) => {
                    this.error = false;
                    console.log(response.data);
                    var logged_in_user = response.data.data
                    bus.$emit('set-user', logged_in_user)
                })
                .catch((error) => {
                    console.error(error);
                    console.log(error.response.data)
                    this.error = true;
                    if (error.response.status == 422){
                    this.validationErrors = error.response.data.errors;
                    }
                });
            }

        },
        
    }
</script>
