<template>
    <div class="container">
        <div class="row">
            <h2>Shopping Cart</h2>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Total Price</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="cartItem in cart" :key="cartItem.id">
                    <td>{{cartItem.name}}</td>
                    <td>{{cartItem.price}}</td>
                    <td>
                        <button @click="removeFromCart(cartItem)" class="btn btn-sm btn-danger">-</button> 
                        <strong>{{cartItem.quantity}}</strong> 
                        <button @click="addToCart(cartItem)" class="btn btn-sm btn-success">+</button>
                    </td>
                    <td>{{ cartItem.price * cartItem.quantity }}</td>
                </tr>
                <tr>
                    <td colspan="3" class="text-center">Grand Total</td>
                    <td>{{carttotal}}</td>
                </tr>
                </tbody>
            </table>

            <!-- <button class="button">Checkout</button> -->

        </div>
    </div>
</template>

<script>
    export default {
        props:['cart','carttotal','totalitems'],

        methods:{
            removeFromCart(item){
                bus.$emit('remove-from-cart',item);

            },
            addToCart(item){
                bus.$emit('added-to-cart',item);
            }


        }
    }
</script>
