<template>
    <a class="nav-link" href="/cart">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <span class="alert badge">{{ cartcount }}</span>
    </a>
            
</template>

<script>
    export default {
        props:['cartcount'],

        data(){
            return {
            }
        },

        created() {
            console.log('Component mounted.')
        },

    }
</script>
