<template>
    <div>
        
        <form @submit.prevent="checkout">
            <legend>1. Delivery</legend>
            <div class="form-group">
                <input required type="text" class="form-control" v-model="order.address" id="" placeholder="Address*">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text">+95</span>
                </div>
                <input required type="number" v-model="order.phone" class="form-control" placeholder="Phone No*">
            </div>
            <hr>
            <legend>2. Credit card/ Debit card details</legend>
            <div class="row">
                <div class="form-group col-md-6 col-sm-12">
                    <input required type="number" class="form-control" v-model="order.card_no" id="" placeholder="Card Number*">
                </div>

                <div class="form-group col-md-6 col-sm-12">
                    <input required type="text" class="form-control" v-model="order.card_name"  placeholder="Name on Card*">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-3 col-sm-12">
                    <label>Expiration Date</label><span class="text-danger">*</span>
                </div>

                <div class="form-group col-md-3 col-sm-12">
                    <input required type="number" class="form-control" v-model="order.card_mm"  placeholder="MM*">                
                </div>

                <div class="form-group col-md-3 col-sm-12">
                    <input required type="number" class="form-control" v-model="order.card_yy"  placeholder="YY*">                
                </div>

                <div class="form-group col-md-3 col-sm-12">
                    <input required type="number" class="form-control" v-model="order.card_cvv"  placeholder="CVV*">                
                </div>
            </div>
            <hr>
            <button type="submit" style="width:100%" class="btn btn-success btn-sm" >Place Order</button>

        </form>
        <br>
        <validation-errors :errors="validationErrors" v-if="validationErrors"></validation-errors>


    </div>
</template>

<script>
    export default {
        props:['cart','user'],
        data(){
            return {
                order:{},
                validationErrors: ''
            }
        },

        methods:{
            checkout() {
                this.order.user_id = this.user.id
                this.order.products = this.cart
                axios.post('/checkout', this.order).then((response) => {
                    console.log(response.data);
                    localStorage.removeItem('cart');
                    window.location.href = '/profile';
                })
                .catch((error) => {
                    console.error(error);
                    if (error.response.status == 422){
                    this.validationErrors = error.response.data.errors;
                    }
                });
            }
        },
    }
</script>
