<template>
    <div>
    <ul class="navbar-nav ml-auto">
        <li v-if="user && authenticated" class="nav-item">
            <a class="nav-link" href="/profile">{{user.name}}</a>
        </li>

        <li v-if="!authenticated" class="nav-item dropdown">
            <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>Login<span class="caret"></span>
            </a>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                
            <auth-form></auth-form>
            
            </div>
        </li>

        <li class="nav-item">
            <cart-count :cartcount="cartcount"></cart-count>
        </li>
        <li v-if="authenticated" class="nav-item">
            <a class="nav-link" @click="logout">Logout</a>
        </li>
    </ul> 
    
    
    </div>
    
</template>

<script>
    export default {
        data(){
            return {
                name: null
            }
        },
        props:['user', 'authenticated', 'cartcount'],
        mounted() {
            console.log('Component mounted.')
        },
        methods:{
            logout() {
                axios.post('/user_logout', this.user)
                .then((response) => {
                    console.log(response.data);
                    localStorage.removeItem('user')
                    location.reload();
                })
                .catch((error) => {
                    console.error(error);
                });
            }
        }
    }
</script>
