<template>
    <div class="container">
        <div class="row">
            <div class="item-wrapper">
                <div class="img-wrapper">
                    <button @click="addToCart" v-if="product.quantity" class="button expanded add-to-cart">
                        Add to Cart
                    </button>
                    <button disabled v-else class="button expanded add-to-cart">
                        Out of Stock
                    </button>
                    <a>
                        <img src="images/product.png" />
                    </a>
                </div>
                <a>
                    <h3>{{product.name}}</h3>
                </a>
                <h5>{{ product.price }} MMK</h5>
                <p>{{ htmlToText(product.description)  }}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:['product', 'productimagepath', 'productlink'],
        mounted() {
            console.log('Component mounted.')
        },
        methods:{
            addToCart(){
                bus.$emit('added-to-cart',this.product);
            },
            htmlToText(html) {
                var tag = document.createElement('div');
                tag.innerHTML = html;

                return tag.innerText;
            }
        }
    }
</script>
