<template>
    
    <ul class="alert alert-danger no-bullet">
        <li v-for="(value, key) in validationErrors" :key="key">{{ value }}</li>
    </ul>
    
</template>

<script>
    export default {
        props: ['errors'],
        mounted() {
            console.log('Component mounted.')
        },
        computed: {
            validationErrors(){
              let errors = Object.values(this.errors);
              errors = errors.flat();
              return errors;
          }
        }
    }
</script>
